name: Build ImmortalWrt for N1

on:
  workflow_dispatch:
   inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: false
        default: 'false'
  schedule:
    - cron: "0 0 1 * *"

env:
  REPO_URL: https://github.com/immortalwrt/immortalwrt
  REPO_BRANCH: openwrt-25.12
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Free up space
      uses: jlumbroso/free-disk-space@main
      with:
        tool-cache: true
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: Initialize environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get -qq update -y
        sudo -E apt-get -qq install -y $(curl -fsSL https://raw.githubusercontent.com/nantayo/My-Pkg/master/openwrt)
        sudo -E apt-get -qq autoremove --purge
        sudo -E apt-get -qq clean
        sudo timedatectl set-timezone "$TZ"
        sudo mkdir -p /workdir
        sudo chown $USER:$GROUPS /workdir

    - name: Clone source code
      working-directory: /workdir
      run: |
        git clone $REPO_URL -b $REPO_BRANCH --single-branch --depth=1 openwrt
        ln -sf /workdir/openwrt $GITHUB_WORKSPACE/openwrt
        echo "FILE_DATE=$(date +"%y.%m")" >> $GITHUB_ENV
  
    - name: Update feeds
      run: |
        cd openwrt
        # 该命令会在 openwrt 目录下创建feeds目录
        ./scripts/feeds update -a
        rm -rf feeds/luci/applications/luci-app-passwall

    - name: Add some packages that are not in the mainline ImmortalWrt
      run: |
        git clone https://github.com/ophub/luci-app-amlogic --depth=1
        git clone https://github.com/EasyTier/luci-app-easytier --depth=1
        cp -r luci-app-amlogic/luci-app-amlogic luci-app-easytier/luci-app-easytier luci-app-easytier/easytier openwrt/feeds/luci/applications/

    - name: Update & Install feeds
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Load custom config
      run: |
        mv files openwrt/files
        mv makeN1.config openwrt/.config

    - name: SSH connect to Actions
      uses: P3TERX/ssh2actions@main
      if: (github.event.inputs.ssh == 'true') || contains(github.event.action, 'ssh')

    - name: Download package
      run: |
        cd openwrt
        make defconfig
        make download -j8
        find dl -size -1k -exec rm -f {} \;

    - name: 编译固件 
      run: |
        chmod -R 755 openwrt
        cd openwrt
        echo -e "$(nproc) thread compile"
        make -j$(nproc) || make -j1 V=s
   
    - name: 打包固件
      uses: unifreq/openwrt_packit@master
      env:
        OPENWRT_ARMVIRT: openwrt/bin/targets/armsr/armv8/*rootfs.tar.gz
        KERNEL_REPO_URL: ophub/kernel
        KERNEL_VERSION_NAME: 6.12.y
        PACKAGE_SOC: diy
        SCRIPT_DIY_PATH: mkIMG.sh
        WHOAMI: daydreams

    - name: 上传并发布固件
      uses: softprops/action-gh-release@master
      with:
        tag_name: v${{ env.FILE_DATE }}
        files: |
          openwrt/bin/targets/*/*/*.tar.gz
          ${{ env.PACKAGED_OUTPUTPATH }}/*.img.gz
        body: |
          首次使用建议全新刷写, 若更改了配置文件也建议重新刷写
          /root下有刷入emmc的脚本, 在安装时会让你选盒子编号, N1是11号
          不要在脚本里改boot分区大小, 如果改的太小(<320M)刷入emmc后100%变砖
          IP: dhcp获得
          账户: root
          密码: password

    - name: Delete old releases
      uses: dev-drprasad/delete-older-releases@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        keep_latest: 4
        delete_tags : true
        delete_tag_pattern : v
